<% service = XStocks::Service.new(current_user) if current_user %>
<% if service&.fast_update? || service&.slow_update? %>
  <div class="pr-4"
       data-controller="service"
       data-action="turbo:load@window->service#updateStocks">
    <span data-service-target="output"></span>
  </div>
<% end %>
