<% if current_user && (XStocks::Service.new.fast_update? || XStocks::Service.new.slow_update?) %>
  <div class="pr-4"
       data-controller="stock-data"
       data-action="turbo:load@window->stock-data#updateAll">
    <span data-stock-data-target="output"></span>
  </div>
<% end %>
