<button data-controller="service"
        data-action="click->service#run"
        data-service-code-value="stock_list"
        data-service-params-value="<%= { list: "watchlist:#{@watchlist.hashid}" }.to_json %>"
        class="btn btn-secondary-outline float-right px-3 whitespace-nowrap">
  <%= inline_svg('svg/sync', size: '16*16', class: 'mb-1') %>
  <span data-service-target="output"></span>
</button>
