
# App Settings
MAILER_URL=http://example.com/
MAILER_FROM=no-reply@example.com
# BROWSER= # letter_opener gem

# X_STOCKS_DATABASE_DATABASE=x_stocks_development
# X_STOCKS_DATABASE_USERNAME=
# X_STOCKS_DATABASE_PASSWORD=

# PROTECTED_SIGN_UP=false

# Third-party API Settings
# HONEYBADGER_API_KEY=
# FINNHUB_KEY=
# IEXAPIS_KEY=
# POLYGON_KEY=
