<div class="row justify-content-center my-form-row">
  <div class="col-6">
  <h3 class="text-center">API Key</h3>
    <%= form_for(resource, as: resource_name, url: '/registrations/regenerate', html: { method: :post, class: 'my-form mx-auto', id: 'edit_api_key' }) do |f| %>
      <div class="input-group" data-controller="clipboard">
        <%= f.text_field :api_key, readonly: true, class: 'form-control', data: { clipboard_target: 'input' } %>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" style="padding-top: 2px; padding-left: 10px; padding-right: 10px;" type="button" data-action="click->clipboard#copy">
            <%= inline_svg('svg/content-copy.svg', size: '18*18') %>
          </button>
        </div>
      </div>

      <div class="my-button-group-centered">
        <a href="/api_docs" class="btn btn-primary" target="_blank">API Documentation</a>
        <%= f.submit 'Regenerate', class: 'btn btn-dark' %>
      </div>
    <% end %>
  </div>
</div>
