<div class="w-full max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h2 class="uppercase mb-3 font-normal">API Key</h2>
  <%= form_for(resource, as: resource_name, url: '/registrations/regenerate', html: { method: :post, id: 'edit_api_key' }) do |f| %>
    <div class="pb-3 relative flex w-100" data-controller="clipboard">
      <%= f.text_field :api_key, readonly: true, data: { clipboard_target: 'input' }, class: 'shadow-sm appearance-none border rounded-l w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-200' %>
      <div class="">
        <label for="copy_api_key" class="sr-only">Copy API Key</label>
        <button id="copy_api_key" type="button" data-action="click->clipboard#copy" class="btn2 border border-l-0 border-gray-600 px-2 rounded-none rounded-r">
          <%= inline_svg('svg/content-copy.svg', size: '22*22') %>
        </button>
      </div>
    </div>

    <div class="pb-3 flex items-center justify-between">
      <a href="/api_docs" class="btn2 btn2-primary" target="_blank">API Documentation</a>
      <%= f.submit 'Regenerate', class: 'btn2 btn2-secondary' %>
    </div>
  <% end %>
</div>
