<% @page_title = 'My Profile' %>
<% @page_menu_item = :profile %>

<div class="w-full flex flex-col xl:flex-row space-x-0 xl:space-x-4 space-y-4 xl:space-y-0">
  <div class="w-full xl:w-1/2 space-y-4">
    <%= render partial: 'devise/registrations/forms/profile' %>
  </div>
  <div class="w-full xl:w-1/2 space-y-4">
    <%= render partial: 'devise/registrations/forms/api' %>
    <%= render partial: 'devise/registrations/forms/taxes' %>
  </div>
</div>
