<div id="dividends-charts-container">
  <div class="row">
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-right" style="width: 580px; height: 443px; padding-bottom: 15px; margin-bottom: 15px;">
        <h4 class="text-2xl text-center pb-2">Est. Annual Dividend Allocation</h4>
        <%= XStocks::Charts::DividendAllocation.new(@positions, @stocks_by_id).render(width: 580, height: 400) %>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="border rounded mx-md-auto float-xl-left" style="width: 580px; height: 443px; padding-bottom: 15px; margin-bottom: 15px;">
        <h4 class="text-2xl text-center pb-2">Est. Monthly Dividends</h4>
        <%= XStocks::Charts::MonthlyDividend.new(@summary).render(width: 500, height: 350) %>
      </div>
    </div>
  </div>
</div>
