<% if @stock.description.present? %>
  <h3>About</h3>
  <p>
    <%= @stock.description %>
  </p>
<% end %>

<% if @stock.employees.present? %>
  <p>
    <strong>Employees:</strong>
    <%= number_with_delimiter(@stock.employees, delimiter: ',') %>
  </p>
<% end %>

<% if @stock.website.present? %>
  <p>
    <strong>Website:</strong>
    <%= link_to_website @stock.website %>
  </p>
<% end %>

<p>
  <strong>Issue Type:</strong>
  <%= XStocks::Stock.new.issue_type(@stock) %>
</p>
