<% if @stock.earnings.present? %>
<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h4>Earnings <small>Yahoo</small></h4>
  <div style="width: 280px; height: 220px;" class="mx-auto">
    <canvas width="280" height="220"
            data-controller="earnings-chart"
            data-earnings-chart-value='<%= json earnings_chart_data(@stock.earnings) %>'>
    </canvas>
  </div>
</div>
<% end %>
