<% financials = XStocks::Charts::Financials.new(@stock, details) %>
<% if financials.data? %>
<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h4><%= label %></h4>
  <div style="width: 280px; height: 220px;" class="mx-auto">
    <%= financials.render(width: 280, height: 220) %>
  </div>
</div>
<% end %>
