<% if data.present? %>
<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h4><%= label %></h4>
  <div style="width: 280px; height: 220px;" class="mx-auto">
    <canvas width="280" height="220"
            data-controller="financials-chart"
            data-financials-chart-value='<%= json financials_chart_data(@stock, data) %>'>
    </canvas>
  </div>
</div>
<% end %>
