<%= form.text_field :symbol, style: 'text-transform: uppercase;', autocomplete: :off %>

<div class="my-button-group-centered">
  <%= link_to 'Back', back_url, class: 'btn btn-outline-dark' %>
  <%= form.submit 'Save', class: 'btn btn-primary' %>
</div>
