<div class="small-widget my-side-panel">
  <h4>Links</h4>
  <nav class="sidebar my-block">
    <ul class="nav flex-column">
      <% [
             ["https://finance.yahoo.com/quote/#{@stock.symbol}", "Yahoo Finance (#{@stock.symbol})"],
             ["https://www.dividend.com/search?q=#{@stock.symbol}", "Dividend.com (#{@stock.symbol})"],
             ["https://seekingalpha.com/symbol/#{@stock.symbol}", "Seeking Alpha (#{@stock.symbol})"],
             ["https://robinhood.com/stocks/#{@stock.symbol}", "Robinhood (#{@stock.symbol})"],
             ["https://www.webull.com/quote/#{@stock.exchange&.code&.downcase}-#{@stock.symbol.downcase}", "Webull (#{@stock.symbol})"],
         ].each do |link| %>
        <li class="nav-item">
          <a class="nav-link" href="<%= link[0] %>">
            <i class="fa fa-external-link text-center" style="width: 19px; padding-right: 3px;"></i> <%= link[1] %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
