<a href="/stocks/new" class="btn btn-success float-right" style="margin-top: 10px; margin-right: 10px;">
  <span id="stock-update-text" class="text-light d-none d-md-inline-block" style="padding-left: 3px;"><%= 'New Stock' %></span>
</a>
