<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <% next_earnings_date = @stock.next_earnings_date if @stock.next_earnings_date && @stock.next_earnings_date >= Date.today %>
  <% if next_earnings_date %>
    <h4>Next Earnings</h4>

    <table class="table table-sm my-side-panel" style="margin-bottom: 7px;">
      <tbody>
        <tr>
          <td style="border-top: none;">
            Estimated EPS:
            <strong class="float-right"><%= number_to_currency(@stock.next_earnings_est_eps, precision: dividend_precision(@stock.next_earnings_est_eps)) %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Date:
            <strong class="float-right"><%= next_earnings_date.strftime('%b, %d %Y') %></strong>
          </td>
        </tr>
        <tr>
          <td>
            Time:
            <strong class="float-right"><%= humanize_earnings_hour(@stock.next_earnings_hour) %></strong>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>
