<% if target_price.present? %>
<div class="small-widget my-side-panel" style="margin-bottom: -15px;">
  <h4><%= label %></h4>

<div style="display: block; width: 280px; height: 85px; margin-top: 15px;">
  <canvas id="<%= id %>_canvas" width="280" height="85" class="chartjs-render-monitor"></canvas>
</div>

  <script>
    document.addEventListener("turbolinks:load", () => {
      price_target_chart($("#<%= id %>_canvas"), <%= json({
        low: target_price['low'],
        high: target_price['high'],
        mean: target_price['mean'],
        current: @stock.current_price.to_f
      }) %>)
    });
  </script>
</div>
<% end %>
