<% recommendation_details = XStocks::Charts::RecommendationDetails.new(details) %>
<% recommendation_mean = XStocks::Charts::RecommendationMean.new(mean) %>
<% if recommendation_details.data? || recommendation_mean.data? %>
<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h4><%= label %></h4>
  <% if recommendation_details.data? %>
    <div style="width: 260px; height: 200px;" class="mx-auto">
      <%= recommendation_details.render(width: 260, height: 200) %>
    </div>
  <% end %>
  <% if recommendation_mean.data? %>
    <div style="display: block; width: 280px; height: 85px; margin-top: -5px;" class="mx-auto">
      <%= recommendation_mean.render(width: 280, height: 85) %>
    </div>
  <% end %>
</div>
<% end %>
