<% if @stock.exchange %>
  <!-- TradingView Widget BEGIN -->
  <div class="tradingview-widget-container">
    <div id="tradingview_9d100" style="height: 350px;"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
        new TradingView.widget(
            {
                "autosize": true,
                "symbol": "<%= @stock.exchange.short_name %>:<%= @stock.symbol %>",
                "timezone": "Etc/UTC",
                "theme": "light",
                "style": "2",
                "locale": "en",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "hide_top_toolbar": true,
                "withdateranges": true,
                "range": "1m",
                "allow_symbol_change": true,
                "save_image": false,
                "container_id": "tradingview_9d100"
            }
        );
    </script>
  </div>
  <!-- TradingView Widget END -->
<% end %>