<button data-controller="service"
        data-action="click->service#updateStock"
        data-service-symbol-value="<%= @stock.symbol %>"
        class="btn btn-secondary-outline float-right px-3">
  <%= inline_svg('svg/sync', size: '16*16', class: 'inline-block mb-1') %>
  <span data-service-target="output"></span>
</button>
