<button id="stock-update-button" class="btn btn-dark float-right" style="margin-top: 10px; margin-right: 10px;" onclick="update_stock(<%= @stock.id %>);">
  <%= inline_svg('svg/sync', size: '16*16', style: 'margin-bottom: 4px;') %>
  <span id="stock-update-text" class="text-light d-none d-md-inline-block" style="padding-left: 3px;"><%= 'Update' %></span>
</button>
