<button id="stock-update-button" class="btn btn-dark float-right" onclick="update_stock(<%= @stock.id %>);">
  <%= inline_svg('svg/sync', size: '16*16', class: 'inline-block mb-1') %>
  <span id="stock-update-text" class="text-light d-none d-md-inline-block pl-1"><%= 'Update' %></span>
</button>
