<button id="stock-update-button" class="btn2 btn2-secondary-outline float-right px-3" onclick="update_stock(<%= @stock.id %>);">
  <%= inline_svg('svg/sync', size: '16*16', class: 'inline-block mb-1') %>
  <span id="stock-update-text"></span>
</button>
