<% if @stock.yahoo_short_direction && @stock.yahoo_medium_direction && @stock.yahoo_long_direction %>
<table class="table table-sm table-bordered float-right" style="max-width: 400px; margin-top: 15px; margin-bottom: 0;">
  <tbody>
  <tr>
    <td>
      <%= render partial: 'stocks/yahoo_tech_item', locals: { title: 'Short Term', term: '2W - 6W', direction: @stock.yahoo_short_direction, link: 'short' } %>
    </td>
    <td>
      <%= render partial: 'stocks/yahoo_tech_item', locals: { title: 'Mid Term', term: '6W - 9M', direction: @stock.yahoo_medium_direction, link: 'intermediate' } %>
    </td>
    <td>
      <%= render partial: 'stocks/yahoo_tech_item', locals: { title: 'Long Term', term: '9M+', direction: @stock.yahoo_long_direction, link: 'long' } %>
    </td>
  </tr>
  </tbody>
</table>
<% end %>