<table class="table table-hover">
  <thead>
    <tr>
      <th>Symbol</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= link_to  stock.symbol, stock_path(stock) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'New Stock', new_stock_path, class: 'btn btn-success' %>
</div>
