<div class="row justify-content-center my-form-row">
  <div class="col-12">
<%= bootstrap_form_for @stock, scope: :stock, url: stocks_path, local: true, html: {class: 'my-form mx-auto'} do |form| %>
  <%= render partial: 'form', locals: {form: form} %>
<% end %>
  </div>
</div>
