<div class="dropdown float-right">
  <button class="btn btn-outline-dark dropdown-toggle dropdown-button" type="button"
          id="ddColumns" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-top: 0; padding-bottom: 3px;">
    <%= inline_svg('svg/cog', size: '20*20', class: 'inline-block') %>
  </button>
  <ul class="dropdown-menu checkbox-menu allow-focus dropdown-menu-right" aria-labelledby="ddColumns">
    <% columns.each do |column| %>
      <li class="active">
        <label>
          <input type="checkbox" value="<%= column[:index] %>"> <%= column[:label] %>
        </label>
      </li>
    <% end %>
  </ul>
</div>
