<div id="output-container"
     class="section hidden <%= local_assigns[:class] %>"
     data-controller="service">
  <% if can_stop %>
    <button type="button" class="float-right btn btn-icon btn-danger p-0" aria-label="Close" data-action="click#service->stop">
      <span aria-hidden="true">
        <%= inline_svg('svg/close.svg', size: '24*24') %>
      </span>
    </button>
  <% end %>
  <h3>Running Service</h3>

  <div class="w-full bg-gray-200 rounded-full mt-4 mb-2">
    <div id="output-progress" class="bg-blue-600 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-l-full transition-all ease-out duration-1000" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
  </div>
  <div id="output-message" class="italic"></div>
</div>
