<div id="service-runner" class="card" style="display: none; margin-top: 10px;">
  <div class="card-header">
    <button type="button" class="close float-right" aria-label="Close" onclick="stopService();">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3>Running Service</h3>
    <div id="output-progress" class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>
    <div id="output-message" class="font-italic" style="margin-top: 5px;"></div>
  </div>
</div>
