<h3 style="margin-top: 20px;">Dividend Hikes and Cuts</h3>
<div style="min-height: 406px;">
  <a class="twitter-timeline"
     data-lang="en" data-width="300" data-height="400" data-dnt="true" data-theme="light"
     href="https://twitter.com/dividendhike">
  </a>
  <a class="twitter-timeline"
     data-lang="en" data-width="300" data-height="400" data-dnt="true" data-theme="light"
     href="https://twitter.com/dividendcut">
  </a>
</div>