<h3>Dividend Hikes and Cuts</h3>
<div style="min-height: 406px;">
  <a class="twitter-timeline"
     data-lang="en" data-width="300" data-height="470" data-dnt="true" data-theme="light"
     href="https://twitter.com/dividendhike">
  </a>
  <a class="twitter-timeline"
     data-lang="en" data-width="300" data-height="470" data-dnt="true" data-theme="light"
     href="https://twitter.com/dividendcut">
  </a>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
