<div class="w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h4 class="uppercase mb-3 font-normal">Dividend Hikes and Cuts</h4>
<div style="min-height: 406px;">
  <a class="twitter-timeline"
     data-lang="en" data-width="300" data-height="470" data-dnt="true" data-theme="light"
     href="https://twitter.com/dividendhike">
  </a>
  <a class="twitter-timeline"
     data-lang="en" data-width="300" data-height="470" data-dnt="true" data-theme="light"
     href="https://twitter.com/dividendcut">
  </a>
</div>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
