<h3>Fear & Greed Index</h3>
<%= image_tag("https://money.cnn.com/.element/img/5.0/data/feargreed/1.png", class: 'img-fluid') %><br>
<%= image_tag("https://markets.money.cnn.com/Marketsdata/Api/Chart/FearGreedHistoricalImage?chartType=AvgPtileModel", class: 'img-fluid') %>
