<h3>Fear & Greed Index</h3>

<a href="https://money.cnn.com/data/fear-and-greed/">
  <%= image_tag("https://money.cnn.com/.element/img/5.0/data/feargreed/1.png", class: 'img-fluid border rounded') %><br>
</a>
