<div class="w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h3 class="text-2xl uppercase mb-2">Fear & Greed Index</h3>

  <div class="flex flex-col w-full items-center">
    <div>
      <a href="https://money.cnn.com/data/fear-and-greed/" data-turbo="false" target="_blank">
        <%= image_tag('/home/fear_n_greed_image.png', class: 'img-fluid border rounded', alt: 'Fear & Greed Index') rescue 'No Image Available' %><br>
      </a>
    </div>
    <div>
      <a href="https://money.cnn.com/data/fear-and-greed/" data-turbo="false" target="_blank">
        <%= image_tag('http://markets.money.cnn.com/Marketsdata/Api/Chart/FearGreedHistoricalImage?chartType=AvgPtileModel',
                      class: 'img-fluid', alt: 'Fear & Greed Over Time') %>
      </a>
    </div>
  </div>
</div>
