<div class="small-widget my-side-panel mx-sm-auto">
  <h3>Links</h3>
  <nav class="sidebar my-block">
    <ul class="nav flex-column">
      <% [
           ['https://finance.yahoo.com/', 'Yahoo Finance'],
           ['https://www.dividend.com/', 'Dividend.com'],
           ['https://robinhood.com/', 'Robinhood'],
         ].each do |link| %>
          <li class="nav-item">
            <a class="nav-link" href="<%= link[0] %>">
              <i class="fa fa-external-link text-center" style="width: 19px; padding-right: 3px;"></i> <%= link[1] %>
            </a>
          </li>
      <% end %>
    </ul>
  </nav>
</div>
