<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h3>Links</h3>
  <nav class="sidebar my-block">
    <ul class="nav flex-column">
      <% [
           ['https://finance.yahoo.com/', 'Yahoo Finance'],
           ['https://www.dividend.com/', 'Dividend.com'],
           ['https://seekingalpha.com/', 'Seeking Alpha'],
           ['https://www.fool.com/', 'The Motley Fool'],
           ['https://robinhood.com/', 'Robinhood'],
           ['https://www.webull.com/', 'Webull'],
         ].each do |link| %>
          <li class="nav-item">
            <a class="nav-link" href="<%= link[0] %>" style="height: 40px;">
              <i class="fas fa-external-link-alt text-center" style="width: 19px; padding-right: 3px;"></i> <%= link[1] %>
            </a>
          </li>
      <% end %>
    </ul>
  </nav>
</div>
