<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h3>Screeners</h3>
  <nav class="sidebar my-block">
    <ul class="nav flex-column">
      <% VirtualTag.all.each do |tag| %>
        <li class="nav-item">
          <% url = {controller: 'stocks', action: 'index', tag: tag.name} %>
          <% url.merge!({order: tag.sort_order}) if tag.sort_order.present? %>
          <a class="nav-link" href="<%= url_for(url) %>" data-toggle="tooltip" data-placement="top" title="<%= tag.description %>" style="height: 40px;">
            <%= inline_svg(tag.svg_image, size: '24*24') %> <%= tag.name %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
