<div class="small-widget">
  <h3>Lists</h3>
  <nav class="sidebar bg-light my-side-panel">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/stocks?tag=Dividend%20Achiever">Dividend Achievers (10+ years)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stocks?tag=Dividend%20Contender">Dividend Contenders (10-24 years)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stocks?tag=Dividend%20Champion">Dividend Champions (25+ years)</a>
      </li>
    </ul>
  </nav>
</div>
