<div class="row">

  <div class="col-sm-8 text-center">
      <h2>Fear & Greed Index</h2>
      <%= image_tag("https://money.cnn.com/.element/img/5.0/data/feargreed/1.png", class: 'img-fluid') %><br>
      <%= image_tag("https://markets.money.cnn.com/Marketsdata/Api/Chart/FearGreedHistoricalImage?chartType=AvgPtileModel", class: 'img-fluid') %>
  </div>
  <div class="col-sm-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="https://finance.yahoo.com/screener/">Yahoo Finance Screeners</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://money.cnn.com/data/fear-and-greed/">CNN Business Fear & Greed Index</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://robinhood.com/">Robinhood</a>
      </li>
    </ul>
  </div>
</div>
