<div class="row">
  <div class="col-sm-8 text-center">
    <%= render partial: 'fear_n_greed' %>

    <h3 style="margin-top: 20px;">Dividend Hikes and Cuts</h3>
    <div>
      <a class="twitter-timeline"
         data-lang="en" data-width="300" data-height="500" data-dnt="true" data-theme="light"
         href="https://twitter.com/dividendhike">
      </a>
      <a class="twitter-timeline"
         data-lang="en" data-width="300" data-height="500" data-dnt="true" data-theme="light"
         href="https://twitter.com/dividendcut">
      </a>
    </div>

  </div>
  <div class="col-sm-4">
    <%= render partial: 'links' %>
  </div>
</div>
