<% earnings = XStocks::Charts::Earnings.new(@stock.earnings) %>
<% if earnings.data? %>
  <div class="w-full mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h4 class="uppercase mb-3 font-normal"><%= label %></h4>
    <div style="width: 280px; height: 220px;" class="mx-auto">
      <%= earnings.render(width: 280, height: 220) %>
    </div>
  </div>
<% end %>
