<div class="w-full mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h4 class="uppercase mb-3 font-normal">Links</h4>
  <nav>
    <ul class="m-0">
      <% [
           ["https://finance.yahoo.com/quote/#{@stock.symbol}", "Yahoo Finance (#{@stock.symbol})"],
           ["https://www.dividend.com/search?q=#{@stock.symbol}", "Dividend.com (#{@stock.symbol})"],
           ["https://seekingalpha.com/symbol/#{@stock.symbol}", "Seeking Alpha (#{@stock.symbol})"],
           ["https://robinhood.com/stocks/#{@stock.symbol}", "Robinhood (#{@stock.symbol})"],
           ["https://www.webull.com/quote/#{@stock.exchange&.webull_code}-#{@stock.symbol.downcase}", "Webull (#{@stock.symbol})"],
         ].each do |link| %>
        <li>
          <a class="block h-10 hover:no-underline py-2 text-blue-500" href="<%= link[0] %>" target="_blank">
            <%= inline_svg('svg/external-link.svg', size: '24*24', class: 'inline-block') %> <%= link[1] %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
