<div class="small-widget my-side-panel mx-auto mx-lg-0">
  <h4 class="uppercase mb-3 font-normal">My Position</h4>
  <%= turbo_frame_tag 'my-position' do %>
    <%= render partial: '/positions/show' %>
  <% end %>
</div>
