<% recommendation_details = XStocks::Charts::RecommendationDetails.new(details) %>
<% recommendation_mean = XStocks::Charts::RecommendationMean.new(mean) %>
<% if recommendation_details.data? || recommendation_mean.data? %>
  <div class="section">
    <h3><%= label %></h3>

    <% if recommendation_details.data? %>
      <div class="mx-auto" style="width: 260px; height: 200px;">
        <%= recommendation_details.render(width: 260, height: 200) %>
      </div>
    <% end %>
    <% if recommendation_mean.data? %>
      <div class="mx-auto block -mt-1" style="width: 280px; height: 85px;">
        <%= recommendation_mean.render(width: 280, height: 85) %>
      </div>
    <% end %>
  </div>
<% end %>
