<p class="align-top">
  <strong>Related Tags</strong><br>
  <% [:company_tag, :dividend_tag, :safe_dividend_tag, :dividend_growth_tag].each do |key| %>
    <% @stock.tags.by_key(key).each do |tag| %>
      <%= link_to tag.name, url_for({controller: 'stocks', action: 'index', tag: tag.name}), class: 'badge badge-pill badge-primary' %>
    <% end %>
  <% end %>

  <% VirtualTag.all.select { |tag| tag.eligible?(@position) }.each do |tag| %>
    <%= link_to tag.name, url_for({controller: 'stocks', action: 'index', tag: tag.name}), class: 'badge badge-pill badge-primary' %>
  <% end %><br>

  <% peers = stock_peers %>
  <% if peers.present? %>
    <% peers.each do |stock_peer| %>
      <% if stock_peer[:stock] %>
        <%= link_to stock_peer[:symbol], stock_path(stock_peer[:stock].symbol), class: 'badge badge-pill badge-primary' %>
      <% else %>
        <span class="badge badge-pill badge-secondary"><%= stock_peer[:symbol] %></span>
      <% end %>
    <% end %>
  <% end %>
</p>
