<% if @stock.exchange&.tradingview_code %>
  <% symbol = "#{@stock.exchange.tradingview_code}:#{@stock.symbol}" -%>
  <div class="section">
    <h3>
      <a href="https://www.tradingview.com/symbols/<%= symbol %>/technicals/?utm_campaign=technical-analysis&utm_medium=widget" target="_blank">
        Technical Analysis
      </a>
    </h3>

    <!-- TradingView Widget BEGIN -->
    <div class="overflow-hidden relative">
      <div class="tradingview-widget-container mx-auto" style="max-width: 400px;">
        <% options = {
          interval: '1D',
          width: '100%',
          height: '395px',
          isTransparent: true,
          symbol: symbol,
          showIntervalTabs: true,
          whitelabel: true,
          colorTheme: 'light',
          utm_source: nil,
          utm_medium: 'widget',
          utm_campaign: 'technical-analysis'
        } -%>
        <iframe class="border-none overflow-hidden"
                style="height: <%= options[:height] %>; width: <%= options[:width] %>; margin-top: -72px; margin-bottom: -12px;"
                src="https://s.tradingview.com/embed-widget/technical-analysis/?locale=en#<%= CGI.escape(options.to_json) %>"
                allowtransparency="true">
        </iframe>
      </div>
    </div>
    <!-- TradingView Widget END -->
  </div>
<% end %>
