<% if @stock.exchange&.tradingview_code %>
  <div data-controller="tradingview-chart"
       data-tradingview-chart-symbol-value="<%= @stock.exchange.tradingview_code %>:<%= @stock.symbol %>"
       style="height: 360px;"></div>
<% end %>
