<% if @stock.exchange&.tradingview_code %>
  <div class="w-full mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container mx-auto">
  <div class="tradingview-widget-container__widget"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
      {
          "interval": "1D",
          "width": "300",
          "isTransparent": false,
          "height": "395",
          "symbol": "<%= @stock.exchange.tradingview_code %>:<%= @stock.symbol %>",
          "showIntervalTabs": true,
          "locale": "en",
          "colorTheme": "light"
      }
  </script>
</div>
<!-- TradingView Widget END -->
  </div>
<% end %>
