<% if @stock.yahoo_short_direction && @stock.yahoo_medium_direction && @stock.yahoo_long_direction %>
  <div class="border border-gray-300 rounded shadow-sm float-right mt-4 mb-2" style="max-width: 400px;">
    <table class="w-full">
      <tbody>
      <tr>
        <td class="border-r border-gray-300">
          <%= render partial: 'stocks/widgets/yahoo_tech_item', locals: { title: 'Short Term', term: '2W - 6W', direction: @stock.yahoo_short_direction, details: @stock.yahoo_short_outlook, link: 'short' } %>
        </td>
        <td class="border-r border-gray-300">
          <%= render partial: 'stocks/widgets/yahoo_tech_item', locals: { title: 'Mid Term', term: '6W - 9M', direction: @stock.yahoo_medium_direction, details: @stock.yahoo_medium_outlook, link: 'intermediate' } %>
        </td>
        <td>
          <%= render partial: 'stocks/widgets/yahoo_tech_item', locals: { title: 'Long Term', term: '9M+', direction: @stock.yahoo_long_direction, details: @stock.yahoo_long_outlook, link: 'long' } %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
<% end %>