<%= turbo_stream.replace(request.headers['Turbo-Frame']) do %>
  <div class="max-w-lg mx-auto">
    <h2><%= inline_svg('svg/heart-broken', size: '24*24', class: 'mb-1') %> 500: Internal Server Error</h2>
    <p>Looks like you broke something. Good luck!</p>
  </div>
<% end %>
