<% if @error %>
  <div class="form-group" id="error-details" style="display:none;">
    <p>
      <label>Message:</label>
      <%= @error.message %>
    </p>
    <p>
      <label>Backtrace:</label><br>
      <small><%= @error.backtrace.map { |line| h(line) }.join('<br>').html_safe %></small>
    </p>
  </div>
<% end %>
<div class="row text-center">
  <%= link_to 'Go back to Home Page', root_path, class: 'btn btn-link' %>
  <a href="#" class="btn btn-link" onclick="$('#error-details').toggle(); return false;">Show Details</a><br>
</div>
