<% if @error %>
  <% if @layout != 'application' %>
    <div class="form-group" style="margin-top: 8px; margin-bottom: 8px">
      <p style="margin-top: 8px; margin-bottom: 8px">
        Oops! Something went wrong
      </p>
    </div>
  <% end %>
  <div class="form-group" id="error-details" style="display:none;">
    <p>
      <label>Message:</label>
      <%= @error.message %>
    </p>
    <p>
      <label>Backtrace:</label><br>
      <small><%= Backtrace.clean(@error.backtrace).map { |line| h(line) }.join('<br>').html_safe %></small>
    </p>
  </div>
<% end %>
<div class="row text-center">
  <% if @layout == 'application' %>
    <%= link_to 'Go back to Home Page', root_path, class: 'btn btn-link' %>
  <% end %>
  <a href="#" class="btn btn-link" onclick="$('#error-details').toggle(); return false;">Show Details</a><br>
</div>
