<div class="section max-w-lg mx-auto">
  <h2><%= inline_svg('svg/heart-broken', size: '24*24', class: 'mb-1') %> 500: Internal Server Error</h2>
  <p class="pb-7">Looks like you broke something. Good luck!</p>

  <div class="text-center pb-2">
    <% if @layout == 'application' %>
      <%= link_to 'Return Home', root_path, class: 'rounded-lg py-2 px-4 text-sm font-medium text-gray-900 bg-white border border-gray-400 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-blue-500 dark:focus:text-white whitespace-nowrap' %>
    <% end %>
  </div>
</div>
