
.text-strong-sell { color: #FF333A; }
.text-sell { color: #FFA33E; }
.text-hold { color: #FFDC48; }
.text-buy { color: #00C073; }
.text-strong-buy { color: #008F88; }

.bg-strong-sell { background-color: #FF333A; }
.bg-sell { background-color: #FFA33E; }
.bg-hold { background-color: #FFDC48; }
.bg-buy { background-color: #00C073; }
.bg-strong-buy { background-color: #008F88; }

.text-positive { @apply text-green-600; }
.text-neutral { @apply text-gray-500; }
.text-negative { @apply text-red-600; }
