@import "bootstrap";
@import 'bootstrap-select';
@import "bootstrap-override";
@import "datatables";
@import "sticky-footer";
@import "jcountdown";
@import "font-awesome";
@import "rails_bootstrap_forms";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.my-form-row {
  margin-top: 20px;
}

.my-form {
  max-width: 330px;
}

.my-button-group {
  margin-top: 20px;
}

.my-button-group-centered {
  margin-top: 20px;
  text-align: center;
}

.my-button-group a,
.my-button-group input[type=button],
.my-button-group-centered  a,
.my-button-group-centered  input[type=button] {
  margin-left: 8px;
  margin-right: 8px;
}

.my-block {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.navbar-nav form input[type=search] {
  background-color: #F3F5F6;
}

.my-side-panel {
  max-width: 300px;
}

.small-widget {
  margin-bottom: 15px;
}

.fa-sm {
  font-size: 12px;
}

.tooltip-inner {
  white-space:pre;
  max-width:none;
  text-align: left;
}

.rec-str-sell {
  background-color: #FF333A
}
.rec-sell {
  background-color: #FFA33E
}
.rec-hold {
  background-color: #FFDC48
}
.rec-buy {
  background-color: #00C073
}
.rec-str-buy {
  background-color: #008F88
}
