@import 'datatables/dataTables.bootstrap4';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
//@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
//@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

div.dataTables_wrapper {
  div.dataTables_info {
    padding-top: 0.55em;
  }
  div.dataTables_filter {
    text-align: left;
  }
  div.dataTables_length {
    text-align: right;
  }
}

.table.table-override {
  .thead-light {
    th {
      background-color: #f3f5f6;
    }
  }
  thead
  {
    th {
      border-bottom: 0 solid #dee2e6;
    }
  }
  border-bottom: 1px solid #dee2e6;

  button.dropdown-toggle {
    padding: 2px 12px;

    &::after {
      color: #343a40 !important;
    }
  }
}

.table-hover {
  tbody tr:hover {
    background-color: #f3f5f6;
  }
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 0.6em;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.2em;
}
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding-right: 20px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.7em;
}
table.dataTable.table-sm .sorting:before, table.dataTable.table-sm .sorting_asc:before, table.dataTable.table-sm .sorting_desc:before {
  right: 0.6em;
}


.dataTable {
  td.format-as-symbol {
    div.symbol-note {
      padding: 0 6px;
      margin-bottom: 0;
      height: 24px;
    }
    div.symbol-logo {
      width: 48px;
      display: inline-block;
      margin-right: 10px;

      img {
        max-height: 20px;
        max-width: 48px;
      }
    }

    a {
      padding-top: 10px;
      margin-right: 0;

      &.has-note {
        margin-right: 32px;
      }
    }
  }
}

td.price-range {
  .progress {
    height: 4px;
    min-width: 100px;
  }
  small {
    display:inline-block;
    width: 100%;
    font-size: 70%;
  }
  padding-bottom: 0;
}
