@import 'datatables/dataTables.bootstrap4';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
//@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
//@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.55em;
}

.table {
  .thead-light {
    th {
      background-color: #f3f5f6;
    }
  }
}
