@import 'datatables/dataTables.bootstrap4';

// optional remove '//=' to enable

//@import 'datatables/extensions/AutoFill/autoFill.bootstrap4';
//@import 'datatables/extensions/Buttons/buttons.bootstrap4';
//@import 'datatables/extensions/ColReorder/colReorder.bootstrap4';
//@import 'datatables/extensions/FixedColumns/fixedColumns.bootstrap4';
//@import 'datatables/extensions/FixedHeader/fixedHeader.bootstrap4';
//@import 'datatables/extensions/KeyTable/keyTable.bootstrap4';
//@import 'datatables/extensions/Responsive/responsive.bootstrap4';
//@import 'datatables/extensions/RowGroup/rowGroup.bootstrap4';
//@import 'datatables/extensions/RowReorder/rowReorder.bootstrap4';
//@import 'datatables/extensions/Scroller/scroller.bootstrap4';
//@import 'datatables/extensions/Select/select.bootstrap4';

div.dataTables_wrapper {
  div.dataTables_info {
    padding-top: 0.55em;
  }
  div.dataTables_filter {
    text-align: left;
  }
  div.dataTables_length {
    text-align: right;
  }
}

.table.table-override {
  .thead-light {
    th {
      background-color: #f3f5f6;
    }
  }
  thead
  {
    th {
      border-bottom: 0 solid #dee2e6;
    }
  }
  border-bottom: 1px solid #dee2e6;
}

.table-hover {
  tbody tr:hover {
    background-color: #f3f5f6;
  }
}
