<div class="w-full mx-auto bg-white shadow-md rounded px-2 md:px-8 pt-3 md:pt-6 pb-3">
  <div class="mt-1 float-right">
    <%= render partial: 'positions/formats', locals: { selected: 'chart' } %>
  </div>

  <h2 class="text-2xl uppercase mb-6">My Positions</h2>

  <div class="flex flex-col lg:flex-row justify-center space-x-0 lg:space-x-8 space-y-4 lg:space-y-0 mb-6">
    <div class="shrink grow-0">
      <div class="border border-gray-400 rounded-lg py-4 px-2">
        <h4 class="text-2xl text-center pb-2">Stock allocation</h4>
        <%= XStocks::Charts::StockAllocation.new(@positions, @stocks_by_id).render(width: 580, height: 400) %>
      </div>
    </div>
    <div class="shrink grow-0">
      <div class="border border-gray-400 rounded-lg py-4 px-2">
        <h4 class="text-2xl text-center pb-2">Sector allocation</h4>
        <%= XStocks::Charts::SectorAllocation.new(@positions, @stocks_by_id).render(width: 580, height: 400) %>
      </div>
    </div>
  </div>
</div>
