<div class="section">
  <h3>Dividend Hikes and Cuts</h3>

  <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 space-x-0 sm:space-x-4" style="min-height: 406px;">
    <div class="flex-1 border rounded">
      <a class="twitter-timeline"
         data-lang="en" data-width="100%" data-height="470" data-dnt="true" data-theme="light"
         href="https://twitter.com/dividendhike">
      </a>
    </div>
    <div class="flex-1 border rounded">
      <a class="twitter-timeline"
         data-lang="en" data-width="100%" data-height="470" data-dnt="true" data-theme="light"
         href="https://twitter.com/dividendcut">
      </a>
    </div>
  </div>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
