<div class="w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <h3 class="text-2xl uppercase mb-2">Dividend Hikes and Cuts</h3>
  <div class="flex" style="min-height: 406px;">
    <div class="flex-1 mr-1">
      <a class="twitter-timeline"
         data-lang="en" data-width="100%" data-height="470" data-dnt="true" data-theme="light"
         href="https://twitter.com/dividendhike">
      </a>
    </div>
    <div class="flex-1 ml-1">
      <a class="twitter-timeline"
         data-lang="en" data-width="100%" data-height="470" data-dnt="true" data-theme="light"
         href="https://twitter.com/dividendcut">
      </a>
    </div>
  </div>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
