<div class="section">
  <a class="float-right mt-1 text-blue-500" href="https://www.cnn.com/markets/fear-and-greed" target="_blank">
    <%= inline_svg('svg/external-link.svg', size: '24*24', class: 'inline-block mb-1') %>
    Source
  </a>
  <h3>Fear & Greed Index</h3>

  <% data = Etl::Refresh::FearNGreed.new.data&.dig(:fear_and_greed) %>
  <% if data && [:score, :previous_close, :previous_1_week, :previous_1_month, :previous_1_year].all? { |key| data.key?(key) } %>
    <div class="my-2 mx-auto" style="max-width: 640px;">
      <%= render(FearNGreedGaugeComponent.new(**data.slice(:score, :previous_close, :previous_1_week, :previous_1_month, :previous_1_year))) %>
    </div>
  <% else %>
    <div class="text-center italic">No data available</div>
  <% end %>
</div>
