<div class="section">
  <h3><%= t('home.sections.links') %></h3>

  <nav>
    <ul class="my-0" style="margin-left: -8px; margin-right: -8px;">
      <% [
           ['https://finance.yahoo.com/', 'Yahoo Finance'],
           ['https://www.dividend.com/', 'Dividend.com'],
           ['https://seekingalpha.com/', 'Seeking Alpha'],
           ['https://www.fool.com/', 'The Motley Fool'],
           ['https://etfdb.com/', 'ETF Database']
         ].sort_by(&:last).each do |link| %>
        <li>
          <a class="block h-8 hover:no-underline py-1 text-blue-500 hover:bg-blue-50 px-2" href="<%= link[0] %>" target="_blank">
            <%= link[1] %> <%= inline_svg('svg/external-link.svg', size: '16*16') %>
          </a>
        </li>
      <% end %>
    </ul>
  </nav>
</div>
