<div class="section">
  <h3><%= t('home.sections.market_overview') %></h3>

  <div data-controller="tradingview-chart"
       data-tradingview-chart-symbol-value="FRED:SP500"
       style="height: 360px;"></div>
</div>
