<div class="section">
  <a href="https://www.cnn.com/markets/fear-and-greed" target="_blank">
    <h3><%= inline_svg('svg/cnn', size: '50*23', class: 'mb-1', style: 'color: #C60000;') %> <%= t('home.sections.market_overview') %></h3>
  </a>

  <div data-controller="tradingview-chart"
       data-tradingview-chart-symbol-value="FRED:SP500"
       style="height: 260px;"></div>
</div>
